body {
  background-color: black;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
  color: #fff;
}

body::before
{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
a {
  color: #2cceff;
}
.nav {
  background-color: rgb(64, 64, 64);
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 97%;
}

.left {
  display: flex;
}
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.nav a:hover {
  background-color: #70deff;
}

.def {
  color: aquamarine;
}

.title {
  background-color: rgb(92, 184, 255);
  width: 100%;
}

.bo {
  margin-top: 70px;
}

.imp {
  color: rgb(201, 149, 249);
}

.body {
  margin-top: 70px;
  display: flex;
  overflow: hidden;
}

.tableocontents {
  background-color: rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  position: fixed;
  top: 80px;
  width: 250px;
  height: auto;
}

.content{
  margin-left: 300px;
}
.nodec {
  text-decoration: none;
  color: #fff;
  font-size: x-large;
}

.steps {
  color: #ff8c8c;
  width: 100%;
}

.context {
  background-color: rgb(13, 13, 13);
  padding: 10px;
  border-radius: 4px;
  font-size: small;

}

table, th, td {
  border:1px solid white;
  font-size: small;
}


table {
  width: 65%;
  border-collapse: collapse;
}

ul li a{
  text-decoration: none;
}

.hide{
  display: none;
}

.tableocontents button {
  margin: 2px 0;
  background-color: #2cceff;
  width: 150px;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: 'Mochiy Pop One', sans-serif;
  border-radius: 4px;
}
.tableocontents button:hover {
  background-color: #70deff;
  transition: all 0.3s ease-in-out;
}

.ool
{
  color: rgb(178, 235, 243);
}
.oolex
{
  color: rgb(255, 239, 177);
}